
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 {
			text-align: left;
		}
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li > a {
			
			
		}
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
		}
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
		}
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.selected > a,
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.childselected > a,
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 ul li.selected > a,
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 ul li.childselected > a,
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.selected:hover > a,
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.childselected:hover > a,
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 ul li.selected:hover > a,
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 ul li.childselected:hover > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
		}
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li:hover > a,
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 ul li:hover > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
		}

		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 { background-color: ; }
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 > li.normal > a { color: ;}
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 > li.normal { background-color: ; }
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.selected > a, #navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.childselected > a { color: ; }
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.selected, #navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.childselected { background-color: ; }
		
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 ul > li.normal { background-color: ; }
		
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.normal:hover > a { color: ; }
		#navigation-a5a1149f-7959-6fb2-fec6-a6f5061e0a28 li.normal:hover { background-color: ; }
		