<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <item title="About Me" link="aboutme.html"/>
  <item title="Sword Radio with Buffy" link="radio.html"/>
  <item title="Bodas Del Cordero 1" link="spanish.html"/>
  <item title="Bodas Del Cordero 2" link="spanish.1.html"/>
  <item title="Highlander's Heart" link="external4.html"/>
  <item title="Le`Beat-Music Show 1" link="lebeat.html"/>
  <item title="Le`Beat-Music Show 2" link="lebeat.1.html"/>
  <item title="Book of Revelation 1-4" link="revelation.html"/>
  <item title="Book of Revelation 5-12" link="revelation.1.html"/>
  <item title="Book of Revelation 13-18" link="revelation.2.html"/>
  <item title="Book of Revelation 19-22" link="revelation.3.html"/>
  <item title="Say That TV" link="external2.html"/>
  <item title="Get Your Own Show" link="ownshow.html"/>
  <item title="Compassion International" link="external1.html"/>
</menu>
