.frames-small,
.frames-normal,
.frames-large {
	overflow: hidden;
}

.frames-small .frame {
	width: 82px;
	height: 62px;
	padding: 5px;
}

.frames-small .description,
.frames-small .name {
	display: none;
}

.frames-small .preview-holder {
	width: 82px;
	height: 62px;
}

.frames-small .preview {
	width: 80px;
	height: 60px;
}

.frames-small .frame .preview img {
	max-width: 80px;
	max-height: 60px;
}

.frames-normal .frame {
	width: 122px;
	height: 112px;
	padding: 10px;
}

.frames-normal .description {
	display: none;
}

.frames-normal .preview-holder {
	width: 122px;
	height: 92px;
}

.frames-normal .preview {
	width: 120px;
	height: 90px;
}

.frames-normal .frame .preview img {
	max-width: 120px;
	max-height: 90px;
}

.frames-large .frame {
	width: 152px;
	height: 152px;
	padding: 10px;
	overflow: hidden;
}

.frames-large .preview-holder {
	width: 152px;
	height: 112px;
}

.frames-large .preview {
	width: 150px;
	height: 110px;
}

.frames-large .frame .preview img {
	max-width: 150px;
	max-height: 110px;
}

.frame {
	display: inline-block;
	vertical-align: top;
}

.frame div {
	text-align: center;
}

.frame .name {
	padding-top: 5px;
}

.frame .name,
.frame .description {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.preview-holder {
	display: table;
	table-layout: fixed;
	position: relative;
}

.preview {
	display: table-cell;
	vertical-align: middle;
	background: black no-repeat 10000px 10000px;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.gecko .preview {
	position: absolute;
}

.frame .preview-holder {
	border: 1px solid #f5f5f5;
}

.frame .preview {
	border: 1px solid  #989898;
	cursor: pointer;
}

.preview img {
	border: 0;
}

.chrome .preview,
.gecko .preview,
.ie9 .preview,
.safari5 .preview {
	background-position: center top;
}

.chrome .preview img,
.gecko .preview img,
.ie9 .preview img,
.safari5 .preview img {
	display: none;
}

html.scroll,
body.scroll {
	overflow-y: auto;
}

#simplemodal-container {
	position: absolute !important;
	direction: ltr;
}

#view {
	position: absolute;
	margin-left: -10000px;
}

#view.simplemodal-data {
	margin-left: 0;
}

#overlay {
	background-color: #000;
}

#view-prev, #view-next {
	vertical-align: top;
}

#main-prev,
#main-next,
#thumb-prev,
#thumb-next {
	cursor: pointer;
	background: no-repeat top left;
}

#thumb {
	margin: 10px auto;
}

#thumb-view ul {
	height: 90px;
}

#thumb-view li {
	width: 116px;
	height: 86px;
	margin: 0 5px 0 0;
	border: 2px solid transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#thumb-view li.active {
	width: 116px;
	height: 86px;
	border-color: #fff;
}

#thumb-view .preview-holder {
	height: 86px;
	width: 116px;
	text-align: center;
}

#thumb-view .preview {
	display: table-cell;
	height: 86px;
	width: 116px;
	border: 0;
	text-align: center;
	vertical-align: middle;
}

#thumb-view img {
	max-height: 86px;
	max-width: 116px;
}

#thumb-prev, #thumb-next {
	width: 24px;
	height: 24px;
}

#thumb-prev {
	background-image: url('images/view-tmb-prev.png');
	margin-right: 10px;
}

#thumb-next {
	background-image: url('images/view-tmb-next.png');
	margin-left: 10px;
}

#thumb-prev.disabled {
	visibility: hidden;
}

#thumb-next.disabled {
	visibility: hidden;
}

#view-panel {
	padding: 8px 10px 10px 10px;
	background: #fff url(images/view-bg.png) left bottom repeat-x;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #212121;
	font-size: 11px;
	font-family: Tahoma, sans-serif;
}

#view-share {
	float: left;
}

#view-tools {
	float: right;
	margin-bottom: 6px;
}

#view-counter {
	text-align: center;
	font-size: 14px;
	margin: 0 150px;
	padding-top: 3px;
}

#main-view {
	margin-bottom: 6px;
}

#view-details {
	float: left;
	margin-right: 115px;
}

#view-title {
	color: #212121;
	font-size: 18px;
	min-height: 22px;
}

#view-description {
	color: #6a6a6a;
	font-size: 12px;
	clear: both;
	min-height: 14px;
}

#view-close {
	float: right;
	width: 110px;
	height: 20px;
	padding-right: 25px;
	text-align: right;
	line-height: 20px;
	font-size: 18px;
	color: #818995;
	text-decoration: none;
	text-shadow: #f8f9fa 0 1px;
	text-indent: 0;
	text-transform: uppercase;
	background: url(images/view-close.png) right center no-repeat;
	cursor: pointer;
}

#main-view td {
	text-align: center;
}

#main-prev, #main-next {
	width: 58px;
	height: 58px;
}

#main-prev {
	background-image: url('images/view-prev.png');
	margin-right: 10px;
}

#main-next {
	background-image: url('images/view-next.png');
	margin-left: 10px;
}

#main-prev.disabled {
	visibility: hidden;
}

#main-next.disabled {
	visibility: hidden;
}

.preview-controls {
	display: none;
}

.imagegallery-mobile-view {
	background-color: #000;
	margin: 0;
	padding: 0;
}

#mobile-view {
	position: relative;
	text-align: center;
}

.imagegallery-mobile-view-button {
	color: #bbb;
	font-family: sans-serif;
	font-weight: bold;
	background: rgba(80, 80, 80, .7);
	padding: 10px;
	position: absolute;
	border-radius: 3px;
	cursor: pointer;
	z-index: 2;
}

#mobile-view-prev {
	left: 5px;
	top: 40%;
}

#mobile-view-next {
	right: 5px;
	top: 40%;
}

#mobile-view-close {
	right: 5px;
	top: 5px;
}

#mobile-view-img-prev,
#mobile-view-img-next {
	display: none;
}